<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
>  
  
  <servlet>
    <display-name>RestServlet</display-name>
    <servlet-name>RestServlet</servlet-name>
    <servlet-class>com.github.diegopacheco.dynomite.cluster.checker.rest.RestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RestServlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
    
</web-app>